body {
    font-family: 'Georgia';
    padding: 2vw;
  }
  
  .header {
      font-size: 27pt;
      color: black;
  }
  
  .text {
      width: 80%;
      color: black;      
      font-size: 12pt;
      text-align: justify;
  }
  @media (min-width: 40rem) {
    img {
      float: right;
      max-width: 30%;
      margin: 0 0 1rem 1rem;
    }
  }